a {
  text-decoration: none;
  color: white;
}
body{
  background-color: black;
}
footer {
  font-size: 35px;
  width: 100%;
  color: #fff;
  background-color: #303136;
}

footer .col-1-2 {
  padding-left: 0;
}

footer ul,
footer ol,
footer li {
  list-style-type: none;
}

footer>div {
  width: 100%;
  text-align: center;
  padding-top: 3.2%;
  padding-bottom: 2%;
}


footer .fontello-icon {
  transition: all ease-in-out 0.3s;
  transform: rotate(90deg);
  float: right;
  /* margin-left: 30px; */
}

footer>ul>.col-1-3 {
  width: 100%;
  padding: 0;
}

footer>ul>li {
  border-style: solid;
  border-width: 1px 0;
  border-color: gray;
}

footer>ul>li .col-1-2 {
  width: 100%;
}

footer>ul>li>h1 {
  width: 100wv;
  font-size: 1.2em;
  text-align: left;
  padding: 5% 5%;
}

footer>ul>li>h1 a {
  pointer-events: none;
}

footer>ul>li>div {
  display: none;
  flex-direction: column;
  padding-left: 5%;
  padding-bottom: 5%;
  color: #CCC;
}

footer>ul>li>div>ul>li {
  border-bottom: 1px solid #fff;
  font-size: 2em;
}

footer>ul>li>div ul li {
  padding: 1% 0;
}

footer > ol {
  display: none;
}

footer > div {
  width: 100%;
  padding: 5% 0;
}
footer .button{
  clear: left;
  /* float: right; */
  background-color: none;
  height: 90%;;
}
footer .off {
  color: gray;
  filter: grayscale(100%);
}
.button-container{
  display: block !important; 
  text-align: right;
  width: -webkit-fill-available;
}